
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" media="(min-width:500px)" type="text/css" href="/static/css/welcome.css">
	<link rel="stylesheet" media="(max-width:500px)" href="/static/css/welcome_mobile.css">
<title>欢迎来了解</title>

<style>
body {
  background-color: #eee;
  overflow: hidden;
}
canvas {
  background-color: #eee;
  z-index: -1;
  position : absolute;
  display: block;
  margin: 0 auto;
}</style>
</head>
<body>

<canvas id="cas"></canvas>
<div>
    <p id="head">扫码加我了解详情</p>
        <img src="/static/images/QRcode.jpg" alt="" id="qrimg">
</div>
        <script type="text/javascript" src="/static/js/lzxg.js"></script>
</body>
</html>